{
    auto_https off
}

portal.finaninvestgroup.com:80 {
    encode gzip

    handle_path /static/* {
        root * /srv/static
        file_server
    }

    handle_path /media/* {
        root * /srv/media
        file_server
    }

    handle {
        reverse_proxy infra-web-1:8000 {
            header_up X-Forwarded-Proto https
            header_up X-Forwarded-Host {host}
            header_up Host {host}
        }
    }
}


finaninvestgroup.com:80, www.finaninvestgroup.com:80 {
    encode gzip

    root * /srv/site/finaninvestgroup
    file_server
}


competa.finaninvestgroup.com:80 {
    encode gzip
    reverse_proxy http://172.18.0.1:8010 {
        header_up X-Forwarded-Proto https
        header_up Host {host}
    }
}

farmasani.finaninvestgroup.com:80 {
    encode gzip
    reverse_proxy farmasani_dolibarr:80 {
        header_up X-Forwarded-Proto https
        header_up Host {host}
    }
}

n8n.finaninvestgroup.com:80 {
    encode gzip
    reverse_proxy n8n-n8n-1:5678 {
        header_up X-Forwarded-Proto https
        header_up Host {host}
        header_up X-Forwarded-Host {host}
    }
}

